{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Loser!
      </h1>

      <p>All the cool kids know how to juggle.</p>

      <p>Get with the program <a href="https://www.udemy.com/course/how-to-become-an-expert-juggler/?gclid=EAIaIQobChMIi5zP86mU5QIVSrDtCh3Kng5UEAAYASAAEgKVDfD_BwE&matchtype=b&utm_campaign=LongTail_la.EN_cc.UK&utm_content=deal4584&utm_medium=udemyads&utm_source=adwords&utm_term=_._ag_72510390397_._ad_359217141285_._kw_%2Bjuggling+%2Bclass_._de_c_._dm__._pl__._ti_kwd-648540994928_._li_9045999_._pd__._">right here</a>.</p>

    </div>
  </div>

{% endblock %}
